.favorite__restaurant {
  min-height: 100vh;
  padding: 20px;
}

.favorite__restaurant .no-favorite {
  display: block;
  width: 100%;
  margin: 25px auto;
  font-weight: bold;
  font-size: 14px;
}

.favorite__restaurant h2 {
  margin-bottom: 15px;
  text-align: center;
}

.favorite__restaurant .restaurant-name a {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  font-size: 16px;
  margin-bottom: -10px;
  text-decoration: none;
  color: black;
}

.favorite__restaurant .card .description a {
  min-width: 45px;
  min-height: 45px;
  display: inline-flex;
  padding: 5px;
}

@media screen and (min-width: 760px) {
  .favorite__restaurant .no-favorite {
    font-size: 16px;
  }
}