.reviews__container {
  max-width: 950px;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
}

.reviews__container h2 {
  margin: 10px auto;
  text-align: center;
}

.reviews__container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.reviews__container .img-rating {
  margin: 0 auto 15px;
  width: 180px;
}

.reviews__container-card .detail__review {width: 100%;
  margin: 0;
}


.reviews__add {
  display: flex;
  margin-bottom: 15px;
}

.reviews__add form {
  width: 100%;
  margin: auto;
}

.reviews__add form span p {
  font-size: 18px;
  font-weight: bold;
}

.reviews__add #review-name {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  
  font-size: 14px;

  border-radius: 5px;
  border: 1px solid var(--red-primary);
  outline: none;
}

.reviews__add #review-name:focus {
  outline: 1px solid var(--red-primary);
}

.reviews__add #review-body {
  width: 100%;
  height: 100px;
  margin: 5px 0;
  padding: 10px;

  font-size: 14px;

  border-radius: 5px;
  border: 1px solid var(--red-primary);
  outline: none;
}

.reviews__add #review-body:focus {
  outline: 1px solid var(--red-primary);
}

.reviews__add #review-submit {
  min-width: 55px;;
  min-height: 44px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid var(--red-primary);
  outline: none;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--red-primary);
  color: white;
}

.reviews__add #review-submit:hover {
  background-color: #ff7686;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.267);
}

.reviews__add #review-submit:focus {
  outline: 1px solid var(--red-primary);
}

@media screen and (min-width: 760px) {
  .reviews__add #review-name, .reviews__add #review-body, .reviews__add #review-submit {
    font-size: 16px;
  }
}