.reviews__container {
  max-width: 950px;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
}

.reviews__container h2 {
  margin: 10px auto;
  text-align: center;
}

.reviews__container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.reviews__container .img-rating {
  margin: 0 auto 15px;
  width: 180px;
}

.reviews__container-card .detail__review {
  width: 100%;
  max-width: 300px;
  margin: 0;
}